<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<title>Vlog LMV</title>
</head>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: green;">
  <a class="navbar-brand" href="{{ url_for('url_principal')}}">Vlog de Luis Morales Vázquez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="template.html" style="color: black;"></span></a>
      <a class="nav-item nav-link" href="{{ url_for('hobbies')}}" style="color: black;">Hobbies</a>
      <a class="nav-item nav-link" href="{{ url_for('lugares')}}" style="color: black;">Lugares</a>
      <a class="nav-item nav-link" href="{{ url_for('mascotas')}}" style="color: black;">Mascotas</a>
    </div>
  </div>
</nav>
</header>
<body>

	<center><h1 class="text-warning">Bienvenido a la parte de mascotas</h1></center>

<div class="text-center">
  <img src="{{url_for('static', filename='imagenes/mascotas.jpg')}}" width="800" ></div><br>
<div>
<center><h2 class="text-info">Las mascotas que hoy dia a dia me acompañan:</h2></center>
  <center><h2 class="text-secondary">Galletita:</h2></center><br>
  <center><img src="{{url_for('static', filename='imagenes/galleta.jpeg')}}" width="300" height="500" ></div></center><br>
  <center><video src="{{url_for('static', filename='imagenes/galleta.mp4')}}"></video></center>
  <center><h2 class="text-secondary">Boltcito:</h2></center><br>
  <center><img src="{{url_for('static', filename='imagenes/bolt.jpeg')}}" width="300" height="500"></img></center>
  <center><h2 class="text-secondary">Gatita:</h2></center><br>
  <center><img src="{{url_for('static', filename='imagenes/gatita.jpeg')}}" width="300" height="500"></img></center>
  <center><h2 class="text-secondary">Bollo:</h2></center><br>
  <center><img src="{{url_for('static', filename='imagenes/perritotulum.jpeg')}}" width="300" height="500"></img></center>

	
	
</div>
</body>
<footer class="text-center text-white" style="background-color: #caced1;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/113.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/111.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/112.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/114.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/115.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/116.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Luis Morales Vázquez</a>
  </div>
  <!-- Copyright -->
</footer>
</center>
</html>